@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto&display=swap');

.invitation1{
   position: absolute;
    width: 375px;
    height: 82px;
    left: 0px;
    top: 175px;
    padding: 10px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.title-page{
    position: absolute;
    width: 244px;
    height: 38px;
    left: 20px;
    top: 77px;
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #44001A;
}

.container_invite{
    position: absolute;
    width: 375px;
    height: 82px;
    left: 0px;
    top: 129px;
}

.button_accept1{
    position: absolute;
width: 34.38px;
height: 33px;
left: 271px;
top: 154px;

}

.button_deny1{
    position: absolute;
    width: 34.38px;
    height: 33px;
    left: 309.54px;
    top: 154px;
}

.button_accept2{
    position: absolute;
    width: 34.38px;
    height: 33px;
    left: 271px;
}

.button_deny2{
position: absolute;
width: 34.38px;
height: 33px;
left: 309.54px;
}

.invitation_1{
    position: absolute;
    width: 264px;
    height: 82px;
    left: 0px;
    top: 129px;
}