@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto&display=swap');

.internal-container{
    position: absolute;
    width: 375px;
    height: 667px;
    background: #FCFCFC;
}

.navbar{
    position: absolute;
    width: 375px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #F3F3F3;
}

.title-navbar{
    position: absolute;
    width: 128.12px;
    height: 40px;
    left: 19.79px;
    top: 12px;
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #44001A;
}
.bell{
    position: relative;
    width: 23.96px;
    height: 23px;
    left: 270px;
    top: 7px;
}

.button-navbar{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    left: 270px;
    top: 15px;
    border: none;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #44001A;
    margin: 6px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.menu {
    font-family: Roboto;
    display: none;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    top: 64px;
    right: 0px;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    row-gap: 1rem;
    transition: ease-in 0.4s;
    -webkit-transition: ease-in 0.4s;
    -moz-transition: ease-in 0.4s;
    -ms-transition: ease-in 0.4s;
    -o-transition: ease-in 0.4s;
}
.menu a {
    text-decoration: none;
}
.menu img {
    margin: 0px 0px 0px 1rem;
}
.profile {
    display: inline-flex;
    color: #44001A;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-indent: 10px;
}
.menu-item {
    display: inline-flex;
}
.item-name {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-indent: 10px;
}
.item-briefing {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    color: #979797;
}
.button-navbar:focus {
    outline: 0;
}
.background-home{
    position: absolute;
    width: 375px;
    height: 603px;
    left: 0px;
    top: 64px;
}

.title-home{
    position: absolute;
    width: 222px;
    height: 193px;
    left: 120px;
    top: 166px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F4F6F0;
    /* border: 1px solid #000000; */
}

.search-engine{
    position: relative;
    width: 249px;
    height: 63px;
    left: 39px;
    top: 460px;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 50px;
    line-height: 23px;
    color: #44001A;
    background: white url("../img/search_icon.png") no-repeat;
    background-size: 30px;
    background-position-y: center;
    background-position-x: 10px;
    backdrop-filter: saturate(0);
}


.user-title{
    position: absolute;
    width: 264px;
    height: 47px;
    left: 60px;
    top: 79px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    color: #44001A;
    
}

.user-image{
    position: absolute;
    width: 41px;
    height: 41px;
    left: 19px;
    top: 82px;
}

.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding-right: 0;
    
}

}

.button2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 10px;
}

.button3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding-right: 0;
}

.text_P1S1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #44001A;

}

.text_P1S2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #979797;
}

.text_P2S1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #44001A;

}

.text_P2S2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #979797;
}

.text_P3S1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #44001A;

}

.text_P3S2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #979797;
}
.search-people1{
    position: absolute;
    width: 375px;
    height: 82px;
    left: 0px;
    top: 135px;
    padding: 10px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-decoration: none;
}

.search-people2{
    position: absolute;
    width: 375px;
    height: 82px;
    left: 0px;
    top: 216px;
    padding: 10px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-decoration: none;
}

.search-people3{
    position: absolute;
    width: 375px;
    height: 82px;
    left: 0px;
    top: 297px;
    padding: 10px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content :  space-between;                                                     
    flex-direction: row-reverse;
    text-decoration: none;
}

.search-bar{
    position: absolute;
    width: 324px;
    height: 33px;
    left: 20px;
    top: 73px;
    border: 1px solid #DADADA;
    border-radius: 4px;
}

.search-symbol{
    position: absolute;
    width: 20.26px;
    height: 20.26px;
    left: 317px;
    top: 79px;
}

.search_rectangle{
    width: 1.74px;
    height: 8.71px;
    left: 329.88px;
    top: 93.1px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.alpha{
    position: absolute;
    width: 324px;
    height: 33px;
    left: 20px;
    top: 73px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    border-radius: 4px;
}

.search-polygon{
    position: absolute;
    width: 2px;
    height: 1.98px;
    left: 328.73px;
    top: 92.14px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.search-ellipse1{
    position: absolute;
    width: 2px;
    height: 1.98px;
    left: 328.73px;
    top: 92.14px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.search-text1{ 
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    color: #979797;
}

.search-text2{
    position: absolute;
    width: 244px;
    height: 38px;
    left: 20px;
    top: 77px;   
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;  
    color: #44001A;
    
}

.rectangle2{
    position: absolute;
    width: 360px;
    height: 45px;
    left: 0px;
    top: 60px;
}

.SP1I, .SP2I, .SP3I {
    display: flex;
    align-items: center;                                                     
    flex-direction: column;
}