@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto&display=swap');

.internal-container{
    position: absolute;
    width: 375px;
    height: 667px;
    background: #FCFCFC;
}

.navbar{
    position: absolute;
    width: 375px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #F3F3F3;
}

.title-navbar{
    position: absolute;
    width: 128.12px;
    height: 40px;
    left: 19.79px;
    top: 12px;
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #44001A;
}
.bell{
    position: relative;
    width: 23.96px;
    height: 23px;
    left: 284.38px;
    top: 22px;
}

.button-navbar{
    position: absolute;
    width: 59.38px;
    height: 23px;
    left: 284.38px;
    top: 21px;
    background: rgba(0,0,0,0);
    border: none;
}
.line {
    background: #44001A;
    position: relative;
    width: 31.25px;
    height: 2px;
    margin: 0px;
}
.line1{
    left: 20px;
    top: -3px;
}

.line2{
    left: 20px;
    top: 0px;
}

.line3{
    left: 20px;
    top: 3px;
}

.menu {
    font-family: Roboto;
    display: none;
    background: white;
    position: absolute;
    z-index: 10;
    top: 64px;
    right: 0px;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    row-gap: 1rem;
}
.menu img {
    margin: 0px 0px 0px 1rem;
}
.profile {
    display: inline-flex;
    color: #44001A;
    align-items: center;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-indent: 10px;
}
.menu-item {
    display: inline-flex;
}
.item-name {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-indent: 10px;
}
.item-briefing {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    color: #979797;
}
.button-navbar:focus {
    outline: 0;
}
.background-home{
    position: absolute;
    width: 375px;
    height: 603px;
    left: 0px;
    top: 64px;
}

.title-home{
    position: absolute;
    width: 222px;
    height: 193px;
    left: 120px;
    top: 166px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F4F6F0;
    border: 1px solid #000000;
}

.search-engine{
    position: absolute;
    width: 291px;
    height: 63px;
    left: 39px;
    top: 460px;
    background: #F4F6F0;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-indent: 50px;
    color: #44001A;
}

.magnifying-glass{
    position: absolute;
    width: 22.03px;
    height: 22.03px;
    left: 52px;
    top: 480px;
}

.user-title{

    position: absolute;
    width: 264px;
    height: 47px;
    left: 60px;
    top: 79px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    color: #44001A;
    
}

.user-image{
    position: absolute;
    width: 41px;
    height: 41px;
    left: 19px;
    top: 82px;
}

.button1{
    position: absolute;
    width: 87px;
    height: 33px;
    left: 257px;
    top: 199px;
    background-color: #c0eb6a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-b1{
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FCFCFC;
    
}

.button2{
    position: absolute;
    width: 87px;
    height: 33px;
    left: 257px;
    top: 280px;
    background-color: #c0eb6a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-b2{
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FCFCFC;
}

.button3{
    position: absolute;
    width: 87px;
    height: 33px;
    left: 257px;
    top: 361px;
    background-color: #c0eb6a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-b3{
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;  
    color: #FCFCFC;
}

.text_P1S1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #44001A;

}

.text_P1S2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #979797;
}

.text_P2S1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #44001A;

}

.text_P2S2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #979797;
}

.text_P3S1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #44001A;

}

.text_P3S2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #979797;
}
.search-people1{
    position: absolute;
    width: 375px;
    height: 82px;
    left: 0px;
    top: 175px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-people2{
    position: absolute;
    width: 375px;
    height: 82px;
    left: 0px;
    top: 256px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-people3{
    position: absolute;
    width: 375px;
    height: 82px;
    left: 0px;
    top: 337px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-bar{
    position: absolute;
    width: 324px;
    height: 33px;
    left: 20px;
    top: 73px;
    border: 1px solid #DADADA;
    border-radius: 4px;
}

.search-symbol{
    position: absolute;
    width: 20.26px;
    height: 20.26px;
    left: 317px;
    top: 79px;
}

.search-rectangle{
    position: absolute;
    width: 1.74px;
    height: 8.71px;
    left: 329.88px;
    top: 93.1px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.search-rectangle0{
    position: absolute;
    width: 324px;
    height: 33px;
    left: 20px;
    top: 73px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 4px;
}

.search-polygon{
    position: absolute;
    width: 2px;
    height: 1.98px;
    left: 328.73px;
    top: 92.14px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.search-ellipse1{
    position: absolute;
    width: 2px;
    height: 1.98px;
    left: 328.73px;
    top: 92.14px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.search-text1{ 
    position: absolute;
    width: 128px;
    height: 33px;
    left: 20px;
    top: 73px;
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    color: #979797;
}

.search-text2{
    position: absolute;
    width: 310px;
    height: 40px;
    left: 20px;
    top: 120px;
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}

.rectangle2{
    position: absolute;
    width: 360px;
    height: 45px;
    left: 0px;
    top: 60px;
}