.internal-container{
    position: absolute;
    width: 375px;
    height: 667px;
    background: #FCFCFC;
}

.navbar{
    position: absolute;
    width: 375px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #F3F3F3;
}

.title-navbar{
    position: absolute;
    width: 128.12px;
    height: 40px;
    left: 19.79px;
    top: 12px;
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #44001A;
}
.bell{
    position: relative;
    width: 23.96px;
    height: 23px;
    left: 284.38px;
    top: 22px;
}

.button-navbar{
    position: absolute;
    width: 59.38px;
    height: 23px;
    left: 284.38px;
    top: 21px;
    background: rgba(0,0,0,0);
    border: none;
}
.line {
    background: #44001A;
    position: relative;
    width: 31.25px;
    height: 2px;
    margin: 0px;
}
.line1{
    left: 20px;
    top: -3px;
}

.line2{
    left: 20px;
    top: 0px;
}

.line3{
    left: 20px;
    top: 3px;
}


.background-home{
    position: absolute;
    width: 375px;
    height: 603px;
    left: 0px;
    top: 64px;
}

.title-home{
    position: absolute;
    width: 222px;
    height: 193px;
    left: 120px;
    top: 166px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F4F6F0;
    border: 1px solid #000000;
}

.search-engine{
    position: absolute;
    width: 291px;
    height: 63px;
    left: 39px;
    top: 460px;
    background: #F4F6F0;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-indent: 50px;
    color: #44001A;
}

.magnifying-glass{
    position: absolute;
    width: 22.03px;
    height: 22.03px;
    left: 52px;
    top: 480px;
}

.user-title{

    position: absolute;
    width: 264px;
    height: 47px;
    left: 60px;
    top: 79px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    color: #44001A;
    
}

.user-image{
    position: absolute;
    width: 41px;
    height: 41px;
    left: 19px;
    top: 82px;
}

.content-search{
    position: absolute;
    width: 375px;
    height: 244px;
    left: 0px;
    top: 175px;
}

.search-bar{
    position: absolute;
    width: 324px;
    height: 33px;
    left: 20px;
    top: 73px;
}

.search-symbol{
    position: absolute;
    width: 20.26px;
    height: 20.26px;
    left: 317px;
    top: 79px;
}

.search-rectangle{
    position: absolute;
    width: 1.74px;
    height: 8.71px;
    left: 329.88px;
    top: 93.1px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.search-polygon{
    position: absolute;
    width: 2px;
    height: 1.98px;
    left: 328.73px;
    top: 92.14px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.search-ellipse1{
    position: absolute;
    width: 2px;
    height: 1.98px;
    left: 328.73px;
    top: 92.14px;
    background: #C4C4C4;
    transform: rotate(-45deg);
}

.search-text{
    position: absolute;
    width: 128px;
    height: 33px;
    left: 20px;
    top: 73px;
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    color: #979797;
}